$mobile: 992px;

$isw-blue: #00425F;
$isw-black: #565656;
$isw-grey: #e1e6ed;
$hover-blue: #007bff;
$design-blue: #1d2577;
$custom-grey: #8f9dac;
$custom-grey-black: #252b33;

$custom-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;